/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.shadow-1 {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.258824);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.258824);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.258824);
}
.shadow-2 {
  -webkit-box-shadow: 0px 3px 6px -3px #000000;
  -moz-box-shadow: 0px 3px 6px -3px #000000;
  box-shadow: 0px 3px 6px -3px #000000;
}
.vertical-align-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
body {
  overflow-y: scroll;
}
nav {
  border-bottom: 1px solid #e0e0e0;
  height: 97.5px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.258824);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.258824);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.258824);
}
@media screen and (max-width: 768px) {
  nav {
    height: 75px;
  }
}
#match-count {
  white-space: nowrap;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#logo-image {
  margin: 0 auto;
  width: 80px;
  display: block;
}
#logo-wrapper {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.store-title {
  text-align: center;
  display: inline-block;
  margin-bottom: -2px;
}
#sort-by {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#sort-by .form-group {
  margin-bottom: 0;
}
#sort-by label {
  white-space: nowrap;
}
#search-btn-wrapper {
  z-index: 1029;
}
#search-btn {
  text-align: center;
  width: 40px;
  height: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  margin-top: 98.5px;
  -webkit-box-shadow: 0px 3px 6px -3px #000000;
  -moz-box-shadow: 0px 3px 6px -3px #000000;
  box-shadow: 0px 3px 6px -3px #000000;
}
#search-btn span {
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  #search-btn {
    margin-top: 76px;
  }
}
#search-form {
  margin-top: 97.5px;
  border-bottom: 1px solid #e0e0e0;
  background-color: white;
  padding-bottom: 30px;
  padding-top: 60px;
  display: none;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.258824);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.258824);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.258824);
}
#search-form h4 {
  white-space: normal;
}
#search-form .help-block {
  display: none;
  font-size: 0.9em;
}
#search-form .has-error .help-block {
  display: inline;
}
@media screen and (max-width: 768px) {
  #search-form {
    margin-top: 75px;
  }
}
#search-results {
  margin-top: 112.5px;
}
#search-results td {
  border: 0;
  padding-left: 0;
  padding-right: 0;
}
#search-results tr:last-child td {
  padding-bottom: 30px;
}
#search-results tr td:last-child {
  text-align: right;
}
#search-results tr td h2,
#search-results tr td h3 {
  text-align: left;
}
#search-results :first-child tr td {
  padding-bottom: 15px;
}
#search-submit-btn {
  margin-top: 15px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.258824);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.258824);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.258824);
}
/* ==========================================================================
AngularJS
========================================================================== */
/* ==========================================================================
Media Queries
========================================================================== */
/* ==========================================================================
Helper classes
========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
Print styles
========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*# sourceMappingURL=main.css.map */