<form>
  <div class="form-group col-xs-12">
    <label for="wine-name">Wine Name</label>
    <input type="text" class="form-control" id="wine-name" placeholder="Enter wine name">
  </div>
  <div class="form-group col-xs-12">
    <label for="region">Region</label>
    <input type="text" class="form-control" id="region" placeholder="Enter region">
  </div>
  <div class="form-group col-xs-12">
    <label for="winery-name">Winery Name</label>
    <input type="text" class="form-control" id="winery-name" placeholder="Enter winery name">
  </div>
  <div class="form-group col-xs-6">
    <label for="min-years">Min. years</label>
    <input type="number" class="form-control" id="min-years" placeholder="Enter min. years" min="0">
  </div>
  <div class="form-group col-xs-6">
    <label for="max-years">Max. years</label>
    <input type="number" class="form-control" id="max-years" placeholder="Enter max. years" min="0">
  </div> 
  <div class="form-group col-xs-6">
    <label for="min-cost">Min. cost</label>
    <input type="number" class="form-control" id="min-cost" placeholder="Enter min. cost" min="0">
  </div>
  <div class="form-group col-xs-6">
    <label for="max-cost">Max. cost</label>
    <input type="number" class="form-control" id="max-cost" placeholder="Enter max. cost" min="0">
  </div>
  <div class="form-group col-xs-6">
    <label for="min-in-stock">Min. in stock</label>
    <input type="number" class="form-control" id="min-in-stock" placeholder="Enter min. in stock" min="0">
  </div>
  <div class="form-group col-xs-6">
    <label for="region">Min. purchases</label>
    <input type="number" class="form-control" id="min-purchases" placeholder="Enter min. purchases" min="0">
  </div>
  <div class="form-group col-xs-12">
    <button id="submit-search-btn" type="submit" class="btn btn-danger btn-lg text-uppercase pull-right"><strong>Search</strong></button>
  </div>
</form>